button, select, textarea {
  font-family: inherit;
  font-size: 100%;
}

.results {
    background-color: #000000;
    color: #ffffff;
    display: inline-block;
    vertical-align: top;
    height: 100%;
    width: 100%;
    max-height: 500px;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #e5e5e5;
    font-size: 14px;
    outline: none;
    line-height: 1.6;
    resize: vertical;
}

.title {
    font-size: 150%
}

.spinner {
    width: 20px;
    height: 20px;
    margin: 20px auto;
    border: 4px #ddd solid;
    border-top: 4px #2e93e6 solid;
    border-radius: 50%;
    animation: sp-anime 1.0s infinite linear;
  }
  
  @keyframes sp-anime {
    100% { 
      transform: rotate(360deg); 
    }
  }

  .button {
    display: inline-block;
    width: 5%;
    border-radius: 3%;
    font-size: 13pt;
    text-align: center;
    cursor: pointer;
    padding: 7px 7px;
    background: #000066;
    color: #ffffff;
    line-height: 1em;
    transition: .3s;
    box-shadow: 2px 2px 3px #666666;
    border: 2px solid #000066;
  }
  .button:hover {
    box-shadow: none;
    color: #000066;
    background: #ffffff;
  }

  .showhtml {
    margin: 1em 0px;
    display: inline-block;
    width: 7%;
    border-radius: 3%;
    font-size: 13pt;
    text-align: center;
    cursor: pointer;
    padding: 7px 7px;
    background: #000066;
    color: #ffffff;
    line-height: 1em;
    transition: .3s;
    box-shadow: 2px 2px 3px #666666;
    border: 2px solid #000066;
  }
  .showhtml:hover {
    box-shadow: none;
    color: #000066;
    background: #ffffff;
  }

  select{
    padding: 8px;
    width: 20%;
    font-size: 10pt;
  }

  .workerlist{
    margin: 1em 0px;
  }

  .remotehost {
    display: inline-block;
    vertical-align: top;
    height: 100%;
    width: 100%;
    max-height: 170px;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #e5e5e5;
    font-size: 14px;
    outline: none;
    line-height: 1.6;
    resize: vertical;
  }
  
  .remoteupdate {
    margin: 1em 0px;
    display: inline-block;
    width: 7%;
    border-radius: 3%;
    font-size: 13pt;
    text-align: center;
    cursor: pointer;
    padding: 7px 7px;
    background: #000066;
    color: #ffffff;
    line-height: 1em;
    transition: .3s;
    box-shadow: 2px 2px 3px #666666;
    border: 2px solid #000066;
  }
  .remoteupdate:hover {
    box-shadow: none;
    color: #000066;
    background: #ffffff;
  }

  .stop-btn {
    position: relative;
    top: -539px;
    left: 385px;
    
  }